{% extends 'base.html.twig' %}

{% block body %}

    <main>
             
            <div class="resto__item">
                <a href=""><img class=""  href="" src="{{ asset('/img/restaurant/logo/')  ~ restaurant.logo }}"></a>
                <h2>{{ restaurant.name }}</h2>
                
                {{ restaurant.zipcode }}
                {{ restaurant.address }}
                
            </div>

            

            <section class="grid2 grid_item">
            {% for m in meals %}
            
            <div class="plat__item">
               <a href=""><img class="plat_img"   href="" src="{{ asset('/img/restaurant/logo/')  ~ m.photo }}"></a>
                <h2> {{ m.name }}</h2>
                <p>{{ m.description }}</p>
                 <p>{{ m.price }} euros</p>
                 <button type="button">Ajouter</button>
                
            </div>
            {% endfor %}
            </section>




            



    

    </main>
    <footer class="footer__main">
        <p>Copyright La Tambouile ©️ 2020</p>
    </footer>

</body>

{% endblock %}