{% extends 'base.html.twig' %}

{% block body %}
    <main>
            <div class="resto__item">
                
                <h3>{{ restaurant.name }}</h3>
                
                {{ restaurant.zipcode }}
                {{ restaurant.address }}
                
            </div>

            

            <section class="grid2 grid_item">
            {% for m in meals %}
            
            <div class="plat__item">
               <a href=""><img class="plat_img"   href="" src="{{ asset('/img/restaurant/logo/')  ~ m.photo }}"></a>
                <h2> {{ m.name }}</h2>
                <p>{{ m.description }}</p>
                <p class="__price">{{ m.price }} euros</p>

                <section class="comment__item">

                    <button class="btn btn-light w-100" id={{ m.id }} onclick="getComment(this.id); displayComment(this.id)">Voir les commentaires</button>
                    <section class="__commentSection" id="commentSection{{ m.id }}">
                        <div class="__commentList" id="commentList{{ m.id }}"></div>

                        <div class="__commentForm">
                            <input type="text" class="__commentInput" id="__commentInput{{ m.id }}" placeholder="Ajouter un commentaire"></input>
    
                            <form class="__commentRate">
                                <select name="rateValue" size="1" id="__rateInput{{ m.id }}">
                                    <option>note
                                    <option>0
                                    <option>1
                                    <option>2
                                    <option>3
                                    <option>4
                                    <option>5
                                </select> 
                            </form>
                            <button class="__commentSubmit">
                                <img class="fit-picture" src="{{ asset('/img/comment/send.svg') }}" alt="Send new comment" id="{{ m.id }}" onclick="AddComment(this.id)">
                            </button>

                        </div>
                    </section>

                </section>

                <a  class ="btn btn-success" href ="{{ path('cart_add', {'id': m.id}) }}">Ajouter</a>
                
            </div>
            {% endfor %}
            </section>




            



    

    </main>
    <footer class="footer__main">
        <p>Copyright La Tambouile ©️ 2020</p>
    </footer>

</body>

{% endblock %}