{% extends 'base.html.twig'%}

{% block body %}

<h1 class="text-center mb-5">PANIER</h1>
{% if items | length > 0  %}
<div class="container mt-5 text-center">
<table class="table">
    <thread>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
             <th>Quantitité</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thread>   
    <tbody>

    {% for item in items  %}
     <tr>
            <td>{{ item.product.name}}</td>
            <td>{{ item.product.price}}</td>
             <td>{{ item.quantity}}</td>
            <td>{{ item.product.price * item.quantity  }}</td>
            <td>
                <a href="{{ path('cart_remove', {'id' : item.product.id })  }}" class ="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        
    {% endfor %}

    {% for message in app.flashes('notice') %}
        <br>
        <div class="alert alert-primary" role="notice">
            {{ message }}
        </div>
    {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"> Total + frais de port (2.5 €)</td>
            <td>{{ total + 2.5 }}</td>
            <td></td>
            <td></td>
        </tr>



    </tfoot>

  

</table>
    <div class"container text-right">
        <button type="button" onclick="location.href='{{ path('cart_order' ) }}'" class="btn btn-warning text-right" >Commander</button>
    </div>
<div>
{% else %}
    <div class="container text-center mt-5" style="margin-top:40px;">
        <h2 class="mt-5"> Ba alors, tu n'as rien commandé, c'est pas bon, c'est ça ??</h2>
         <img class="logo" onclick="window.location='/'" src="{{ asset('/img/sad.png')}}">
    </div>
{% endif %}



{% endblock %}