{% extends 'base.html.twig' %}
{% block body %}


    <section class="grid3 grid_item">
        <div class="profile__item">
            <h1 class="title__profile">Informations</h1>
            <a href ="{{ path('edit', {'id': app.user.id}) }}"><img class="profil__img"    src="{{ asset('/img/users/')  ~ app.user.photo }}"></a>
            <h2>Nom<h2>
            <h3>{{ app.user.name }} {{ app.user.firstname }}</h3>
           <h2>Email<h2>
            <h3>{{ app.user.email }}</h3>
            <h2>Adresse<h2>
            <h3>{{ app.user.postal }}</h3>
            <h2>Code Postal<h2>
            <h3>{{ app.user.zipcode }}</h3>

            <a  class ="btn btn-success" href ="{{ path('edit', {'id': app.user.id}) }}">Modifier son profil</a>
            <a  class ="btn btn-danger" href ="{{ path('delete', {'id': app.user.id}) }}">Supprimer son profil</a>
        </div>
        
        <div class="profile__item">
            <h1 class="title__profile" >Commandes</h1>
            {% for command in commands %}
                <p>{{ command.price }}</p>
                <p>{{ command.date|date("m/d/Y") }}</p>
                {% if command.status == true %}
                <p> livré <p>
                {% else %}
                <p> en cours de livraison </p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="profile__item">
            <h1 class="title__profile" >Commentaires</h1>
            {% for comment in comments %}
                <p>{{ comment.note }}</p>
                <p>{{ comment.comment }}</p>
            {% endfor %}
        </div>
    </section>

    


{% endblock %}